
h1{
    background-color: aqua;
    text-align: center;
    color: aliceblue;
}
.asd{
    background-color: antiquewhite;
}
.as{
    background-color: aliceblue;
    height: 250
    ;
     width: 25%;
     border-radius: 10px;
     border:  solid
     black;
}
